// - main styles
@import 'styles.scss';

.ghiceste {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color: black;
	font-size: 1.4rem;
	

	img {
		width: 50%;
	}

	.text-ghicitoare {
		color: black;
		font-size: 1.4rem;
	}

	input {
		margin-top: 40px;
	}

	.button-primary {
		margin-top: 40px;
	}

	.bordered {
		border: 1px solid red;
		border-radius: 20px;
	}
}

